@page "/produtos"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorApp.Data.ApplicationDbContext DB
@using AppCompleta.Components.Produtos

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="produtos/novo">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Produto">
    <PropertyColumn Property="produto => produto.Nome" />
    <PropertyColumn Property="produto => produto.Descricao" />
    <PropertyColumn Property="produto => produto.Categoria" />
    <PropertyColumn Property="produto => produto.Preco" />
    <PropertyColumn Property="produto => produto.DisponivelEstoque" />
    <PropertyColumn Property="produto => produto.DataValidade" />

    <TemplateColumn Context="produto">
        <a href="@($"produtos/editar/{produto.Id}")">Edit</a> |
        <a href="@($"produtos/detalhes/{produto.Id}")">Details</a> |
        <a href="@($"produtos/excluir/{produto.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
